{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
 
{% endblock %}

{% block content %}
{{ form.errors }}
   <p>
           <a href="/colegio/create" class="btn btn-success" role="button">
                    <span class="glyphicon glyphicon-plus"></span>
                    Nuevo
                </a>
            </p>

	{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success">.
    {{ message }}
   </div> 
   {% endfor %}
</ul>
{% endif %}
    <table id="tbl_colegios" class="table table-hover table-bordered table-condensed">
    	<thead>
    	 <tr>
 
            <th>
              Nombre
            </th>
             <th>
              Comuna
            </th>
             <th>
              Estado
            </th>
            <th>
              Acciones
            </th>
          </tr>
        </thead>
        {% for colegio in object_list %}
			    <tr>
            
			    	<td>{{ colegio.nombre }}</td>
			    	<td>{{ colegio.regione.nombre }}</td>
			    	<td>{{ colegio.estado }}</td>
            <td>
           {% buttons %}
		   
			
		  <form class="col-xs-4" action="{% url 'colegios.delete' pk=colegio.id %}" method="POST">
                    {% csrf_token %}
                         <button type="submit" class="btn btn-sm btn-primary">
                                {% bootstrap_icon "remove" %}
                        </button>
                  </form>
                   
 		   <a href="/colegio/detail/{{ colegio.id }}" class="btn btn-sm btn-primary">
                      {% bootstrap_icon "list" %} 
                  </a>
                   <a href="/colegio/update/{{ colegio.id }}" class="btn btn-sm btn-primary">
                      {% bootstrap_icon "pencil" %}
                  </a>
            {% endbuttons %}

            </td>


			    </tr>
			{% empty %}
			<tr>
			    <td>Sorry, no clases in this list.</td>
			</tr>
			{% endfor %}
    </table>

    <hr>

{% bootstrap_pagination lines url="/colegios/?page=1" size="large" %}

{% endblock %}



