{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}
 
{% endblock %}

{% block content %}
{{ form.errors }}
   <p>
           <a href="new.html" class="btn btn-success" role="button">
                    <span class="glyphicon glyphicon-plus"></span>
                    Nuevo
                </a>
            </p>
    <table id="tbl_colegios" class="tablesorter-bootstrap table table-hover table-striped table-bordered">
    	<thead>
    	 <tr>
 
            <th>
              Nombre
            </th>
             <th>
              Comuna
            </th>
             <th>
              Estado
            </th>
            <th>
              Acciones
            </th>
          </tr>
        </thead>
        {% for colegio in object_list %}
			    <tr>
            
			    	<td>{{ colegio.nombre }}</td>
			    	<td>{{ colegio.regione.nombre }}</td>
			    	<td>{{ colegio.estado }}</td>
            <td>
           {% buttons %}
                  <a href="/colegio/{{ colegio.id }}" class="btn btn-sm btn-primary">
                      {% bootstrap_icon "list" %} 
                  </a>
            {% endbuttons %}

            </td>


			    </tr>
			{% empty %}
			<tr>
			    <td>Sorry, no clases in this list.</td>
			</tr>
			{% endfor %}
    </table>

    <hr>

{% bootstrap_pagination lines url="/colegios/pagination?page=1" size="large" %}

{% endblock %}



